header {
  background: grey;
  padding: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.right-nav {
  float: right;
}

#sign{
  font-size: 15px;
}

.home{
  font-size: 30px;
}